/*****FONTS*****/
@font-face {
    font-family: MF;
    font-weight: normal;
    src: url('MFR.ttf') format('truetype');
}

@font-face {
    font-family: MF;
    font-weight: bold;
    src: url('MFB.ttf') format('truetype');
}

@font-face {
    font-family: MS;
    font-weight: regular;
    src: url('MSF.ttf') format('truetype');
}

/*****VARIABLES*****/

:root {
    /**COLOUR**/
    --keygreen: #00985F;
    --keybrown: #351C15;
    --codetext: #EE8DC2;
    --codehighlight: #00000000; 
    --altbackground: #FFF;
    --warningyellow: #FCCC0A;
    --warningtext: #351c15;
    --closerred: #C60C30;
    /*Old Key Green --keygreen: #007934;*/
    /**TEXT**/
    --defaultsize: 13px;
    --defaultsizecomp: 11.5px;
    --bighead: 40px;
    --bigheadcomp: 35px;
    --bigheadcomp2: 27.5px;
    --mediumhead: 33px;
    --mediumheadcomp: 28px;
    --mediumheadcomp2: 23px;
    --buttonsize: 17.5px;
    --buttonsizecomp: 15.5px;
    --buttonfocussize: 18.5px;
    --buttonfocussizecomp: 16.5px;
    --paragraphsize: 20px;
    --paragraphsizecomp: 17px;
    --paragraphsizeexp: 23px;
    /**ELEMENT SIZES**/
    --halfbuttonheight: 15px;
    --buttonheight: 30px;
    --halfbuttonheightcomp: 12.5px;
    --buttonheightcomp: 25px;
    --halfbuttonfocusheight: 16px;
    --buttonfocusheight: 32px;
    --halfbuttonfocusheightcomp: 13.5px;
    --buttonfocusheightcomp: 27px;
    /**MODAL STYLES**/
    --modalborderradius: 20px;
    --modalmaxwidth: 65vw;
    /**LAYOUT**/
    --mb: 10px;
}

/*****DEFAULT STYLES*****/

* {
    box-sizing: border-box;
    margin-block-start: var(--mb);
    margin-block-end: var(--mb);
}

body {
    font-family: MF, sans-serif;
    word-wrap: break-word;
    color: var(--altbackground);
    background-color: var(--keybrown);
    font-size: var(--defaultsize);
    max-width: 90vw;
    margin: 50px auto;
    line-height: 100%;
    text-align: center;
}

table {
    max-width: 90vw;
    word-wrap: anywhere;
}

.no-wrap {
    word-wrap: normal;
}

td {
    border: 1px solid;
    border-color: white;
    border-radius: 4px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    border: 2px solid;
    border-color: white;
    border-radius: 4px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

code {
    font-family: MS;
    background-color: var(--codehighlight);
    color: var(--codetext);
}

/*****CLASSES*****/

.warning {
    font-weight: bold;
}

.page-head__text, .page-main__head {
    font-weight: bold;
    font-size: var(--bighead);
    color: var(--altbackground);
    line-height: 100%;
    transition: ease-in-out all 0.15s;
}

.page-main__head {
    font-size: var(--mediumhead);
    transition: ease-in-out all 0.15s;
}

.page-main__text {
    font-family: inherit;
    font-weight: normal;
    font-size: var(--paragraphsize);
    line-height: normal;
    transition: ease-in-out all 0.15s;
}

.footer__text {
    font-weight: bold;
    font-size: inherit;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    transition: ease-in-out all 0.15s;
}

/*****RESPONSIVE CSS*****/

@media all and (max-width: 650px) {
    body {
        font-size: var(--defaultsizecomp);
    }

    .page-head__text {
        font-size: var(--bigheadcomp);
    }
    
    .page-main__head {
        font-size: var(--mediumheadcomp);
    }
}

@media all and (max-width: 450px) {
    .header {
        grid-template-columns: 1fr 3fr 1fr;
    }

    .page-head__text {
        font-size: var(--bigheadcomp2);
    }
    
    .page-main__head {
        font-size: var(--mediumheadcomp2);
    }
}

@media all and (max-width: 320px) {
    .header {
        grid-template-columns: 1fr;
    }

    .header__image {
        display: none;
    }
    
    .page-main__text {
        font-size: var(--paragraphsizecomp);
    }
}

/*Adapt For Large Windows*/
@media all and (min-width: 800px) {
    .page-main__text {
        font-size: var(--paragraphsizeexp);
    }
}